header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

#event-list {
    list-style: none;

    display: flex;
    flex-direction: column;

    gap: 20px;
}

/* Placeholder until cards are created */

.event-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
}